/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

 body {
   font-family: Roboto;
   font-weight: 300;
   padding: 0 24px;
 }

 h1 {
   font-weight: 400;
 }

 .letters {
   padding-left: 0;
   font-size: 24px;
   list-style: none;
   font-family: monospace;
 }

 .letters li {
   background-color: #0d6efd;
   color: white;
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
   padding: 4px 12px;
   display: inline;
 }

 .form-prefix {
   margin-top: 2em;
 }
